<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/homepagestyle.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    
    <div id="bodycenter">
      <a href="index.html"><img src="{{ url_for('static', filename='images/reeltimelogo.png') }}"></a>
    </div>

<div id="pages"><ul>
  <li><a href="http://google.com"><i class="fas fa-fish"></i></a>
    <div class="wrap">
        <label>SPECIES SEARCH</label>
    </div></li>
  <li><a href="http://google.com"><i class="fas fa-map-marker-alt"></i></a>
    <div class="wrap">
        <label>LOCATION LOOKUP</label>
    </div></li></li>
  <li><a href="log"><i class="fas fa-pen"></i></a>
    <div class="wrap">
        <label>LOG A CATCH</label>
    </div></li></li>
</ul></div>

</body>
</html>