<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/homepagestyle.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    
    <div id="bodycenter">
      <a href="/"><img src="{{ url_for('static', filename='images/reeltimelogo.png') }}"></a>
    </div>

  
  <div id="form">
      <form action="log_catch" method="post">
          {{ message }}
          <h1>Log a catch</h1>
          <h3>Greater area: 
            <select name="area" id="area">
                <option value="">- Please select below -</option>
                <option value="Lake Houston" name ="location">Lake Houston</option>
                <option value="Sheldon Lake" name ="location">Sheldon Lake</option>
                <option value="Buffalo Bayou" name ="location">Buffalo Bayou</option>
                <option value="Clear Lake" name ="location">Clear Lake</option>
                <option value="Spring Creek" name ="location">Spring Creek</option>
                <option value="Grapevine Lake" name ="location">Grapevine Lake</option>
                <option value="Lewisville Lake" name ="location">Lewisville Lake</option>
                <option value="Joe Pool Lake" name ="location">Joe Pool Lake</option>
                <option value="Lake Ray Hubbard" name ="location">Lake Ray Hubbard</option>
                <option value="Cedar Creek Reservoir" name ="location">Cedar Creek Reservoir</option>
                <option value="Colorado River" name ="location">Colorado River</option>
                <option value="Lady Bird Lake" name ="location">Lady Bird Lake</option>
                <option value="Lake Austin" name ="location">Lake Austin</option>
                <option value="Shoal Creek" name ="location">Shoal Creek</option>
                <option value="Barton Creek" name ="location">Barton Creek</option>
                <option value="Mueller Lake" name ="location">Mueller Lake</option>
            </select>
        </h3>
          
        <h3>Specific location: 
            <select name ="location" id="location">
            <option value="">- Please select below -</option>
            <option value="Houston">Houston</option>
            <option value="Dallas">Dallas</option>
            <option value="Austin">Austin</option>
        </select></h3>

        <h3>Fish species: 
            <select name ="species" id="species">
            <option value="">- Please select below -</option>
            <option name ="Largemouth bass">Largemouth bass</option>
            <option name ="Smallmouth bass">Smallmouth bass</option>
            <option name ="Guadalupe bass">Guadalupe bass</option>
            <option name ="White bass">White bass</option>
            <option name ="Channel catfish">Channel catfish</option>
            <option name ="Blue catfish">Blue catfish</option>
            <option name ="Bluegill">Bluegill</option>
            <option name ="Green Sunfish">Green Sunfish</option>
            <option name ="Longear Sunfish">Longear Sunfish</option>
            <option name ="Carp">Carp</option>
            <option name ="Alligator Gar">Alligator Gar</option>
            <option name ="Spotted Gar">Spotted Gar</option>
            <option name ="Redhorse Sucker">Redhorse Sucker</option>
            <option value="Other">Other</option>
        </select>
        <br>
        If other:
        <input type="text" name="other_species"></h3>

        <h3>Amount caught: 
            <input type="int" name="amount">
        </h3>
        
        <br>
    
        <input type="submit" value="Submit">
    </form>
  </div>

</body>
</html>
